.sidebar {
    background-color: #f0f2f5 !important;
}

.app-title {
    display: flex;
    height: 115px;
    margin: 0;
    align-items: end;
    padding: 2rem;
}

.app-title span {
    font-size: 1.7rem;
}