.file-list-wrapper {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.file-list-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 1;
    background-color: rgb(255 255 255 / 100%);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

    .file-list-loading .ant-spin-dot {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .file-list-loading .ant-spin-text {
        font-size: 1.2rem;
    }

.file-list {
    padding: 0 2rem 0 2rem !important;
    margin: 2rem 0 2rem 0 !important;
    width: 100%;
    height: calc(100% - 2rem);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.4s width;
}

.file-list .ant-spin-nested-loading,
.file-list .ant-spin-container,
.file-list .ant-list-empty-text {
    height: 100%;
}

.file-list-empty-state {
    position: absolute;
    left: 0;
    right: 0;
    top: -5rem;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.fl-card-cover {
    height: 8em;
}

.fl-card {
    border: 1px solid lightgrey !important;
    border-radius: 1rem;
    overflow: hidden;
}

.fl-card .ant-card-body {
    padding: 1em !important;
    background-color: white;
}

.fl-selection {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    visibility: visible;
}

.fl-card-selected,
.fl-card-selected:hover {
    border: 3px solid #1890ff !important;
}

.fl-selection .ant-checkbox-inner {
    transition: none !important;
}

.file-list {
    scrollbar-width: auto;
    scrollbar-color: #001529 #f0f2f5;
}

.file-list::-webkit-scrollbar {
    width: 14px;
}

.file-list::-webkit-scrollbar-track {
    background: #f0f2f5;
}

.file-list::-webkit-scrollbar-thumb {
    background-color: #001529;
    border-radius: 10px;
    border: 3px solid #ffffff;
}