.user-info {
    height: 95px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2rem;
}

.wallet-address {
    font-weight: bold;
    margin-right: 1rem;
}

.user-avatar {
    margin-right: 1rem;
}

.user-actions button:not(.ant-btn-icon-only) {
    display: none !important;
}

.user-actions button.ant-dropdown-trigger {
    border: none !important;
    box-shadow: none !important;
}

.user-actions button.ant-dropdown-trigger span svg {
    transform: rotate(90deg) !important;
}